<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <form action="{{ url_for('users_post') }}" method="post">
      <div>
        <label>
          Username
          <input type="text" required name="name" value="{{ user.name|default('', true) }}">
        </label>
        <label>
          Email
          <input type="email" required name="email" value="{{ user.email|default('', true) }}">
        </label>
        {% if errors %}
        {% for error in errors %}
        <div>{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>