<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>User Info</title>
  </head>
  <body>
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash_{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <table>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>id</th>
      </tr>
      <tr>
        <td>{{ user['name'] }}</td>
        <td>{{ user['email'] }}</td>
        <td>{{ user['id'] }}</td>
      </tr>
    </table>
    <a href="{{ url_for('users_edit', id=user['id']) }}">Edit user</a>
    <form action="{{ url_for('users_delete', id=user['id']) }}" method="post"
          onsubmit="return confirm('Are you sure you want to delete user? This action cannot be undone.');">
      <input type="submit" value="Remove">
    </form>
    <a href="{{ url_for('users_index') }}">Show all users</a>
  </body>
</html>